apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: logiflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: logiflow/auth-service:v3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3001
          name: tcp
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: AUTH_SERVICE_PORT
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: NODE_ENV
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_SECRET
        - name: BETTER_AUTH_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: BETTER_AUTH_SECRET
        - name: DATABASE_URL
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: AUTH_DATABASE_URL
        - name: RABBITMQ_URL
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: RABBITMQ_URL
        - name: RABBITMQ_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_DEFAULT_USER
        - name: RABBITMQ_PASS
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_DEFAULT_PASS
        resources:
          requests:
            memory: "100Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: logiflow
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: tcp
  selector:
    app: auth-service
