apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: logiflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: logiflow/inventory-service:v2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3004
          name: tcp
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: INVENTORY_SERVICE_PORT
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: NODE_ENV
        - name: TCP_HOST
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: TCP_HOST
        - name: TCP_PORT
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: INVENTORY_TCP_PORT
        - name: DATABASE_URL
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: INVENTORY_DATABASE_URL
        - name: RABBITMQ_URL
          valueFrom:
            configMapKeyRef:
              name: logiflow-config
              key: RABBITMQ_URL
        - name: RABBITMQ_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_DEFAULT_USER
        - name: RABBITMQ_PASS
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_DEFAULT_PASS
        resources:
          requests:
            memory: "100Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: logiflow
spec:
  type: ClusterIP
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
  - port: 4006
    targetPort: 4006
    protocol: TCP
    name: tcp
  selector:
    app: inventory-service
